<!DOCTYPE html>
<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
</head>
<body>
    <h2>My Page</h2>
    <hr>
    <div>- username : <span th:text="${username}"></span></div>
    <hr>
    <form id="logout" th:action="@{/logout}" method="POST">
        <button type="submit">Logout</button>
    </form>
    <br>
</body>
<style>
    body {
        max-width: 300px;
        margin: 0 auto;
        padding: 2rem;
        text-align: center;
    }

    label {
        display: inline-block;
        width: 80px;
        text-align: right;
        padding-bottom: 4px;
    }

    button {
        border-radius: 8px;
        padding: 0.4em 0.8em;
        cursor: pointer;
    }
</style>
</html>